body{
    font-family: 'Nunito', sans-serif;
}

/* HOME SECTION */

.homesectioncontainer{
    width: 90%;
    margin-bottom: 150px;
}

.portfolio-title{
    font-size: 40px;
    font-weight: bold;
    width: auto;
    margin-top: 15px;
}
@media screen and (max-width:600px){
    .portfolio-title{
        font-size: 30px;
    }
}

#devcolor{
    color: rgb(230, 223, 223);
}

.experiencedesign p{
    color: white;
}
.experiencedesign p:hover{
    color: white;
}
p{
    color: white;
}

p:hover{
    color: white;
}

.longline{
    width: 200px;
    height: 6px;
    margin-bottom: 40px;
    background: linear-gradient(90deg, gray, white, gray);
    border-radius: 10px;
}
@media screen and (max-width:600px){
    .longline{
        width: 150px;
    }
}

.textIntro{
    line-height: 1.6;
    font-size: 18px;
}

/* END HOME SECTION */

/* PROJECTS */

.projectsContainer{
    margin-bottom: 150px;
}

.projdist{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.projdist a{
    text-decoration: none;
    color: white;
}

.projectblocks{
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background-color: #787A91;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.7s ease;
}

.projectblocks:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.projectblocks img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.projimg1{
    width: 290px;
    height: 190px;
    border-radius: 5px;
}

.projtitle{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
}

.progtext{
    margin-left: 5px;
}
/* END PROJECTS */

/* EXPERIENCE */

.experiencedesign{
    display: flex;
    margin-bottom: 50px;
}

.roundball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 30px;
}
/* END EXPERIENCE */
.experienceContainer{
    width: 90%;
    margin-bottom: 150px;
}

.experienceContent{
    line-height: 1.6;
    font-size: 18px;
}

/* TOOLS */
.toolscontainer{
    width: 80%;
    margin-bottom: 150px;
}


.toolsicon{
    display: flex;
    flex-wrap: wrap;
}

.logobg{
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    margin-right: 10px;
}

.toolsicon img{
    width: 70px;
    height: 70px;
}

.inicon{
    display: flex;
    align-items: center;
    padding: 20px 30px 20px 0px;
    width: 40%;
}
@media screen and (max-width:600px){
    .toolscontainer{
        width: 90%;
    }
    .inicon{
        margin-right: 5px;
    }
}

#title{
    font-size: 18px;
    font-weight: bold;
}

#descr{
    color: rgb(219, 208, 208);
}

.react-logo {
  height: 40vmin;
  pointer-events: none;
  animation: react-spin infinite 20s linear;
  margin-top: 3px;
}

@keyframes react-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divan{
    background-color: white;
}

/* END TOOLS */

/* CONTACT */
.contactContainer{
    width: 80%;
    margin-bottom: 30px;
}
@media screen and (max-width:600px){
    .contactContainer{
        width: 90%;
    }
}

.forminput{
    display: flex;
    flex-direction: column;
    background-color: #787A91;
    padding: 20px;
    border-radius: 10px;
}
@media screen and (max-width:600px){
    .forminput{
        width: 90%;
    }
}

.inputsec{
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width:600px){
    .inputsec{
        padding-right: 5px;
    }
}

label{
    font-size: 20px;
}


input{
    margin-bottom: 20px;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: none;
}


textarea{
    border-radius: 10px;
    height: 100px;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
}

.contactSubmit{
    margin-top: 25px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    background-color: bisque;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contactSubmit:hover{
    background-color: rgb(218, 170, 111);
}

.contentarea{
    width: 96.5%;
    resize: none;
}

/* END CONTACT */

#registry{
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
    color: #e8e9ef;
}
@media screen and (max-width:600px){
    #registry{
        width: 90%;
    }
}

/* ABOUT ME */
.aboutusContainer{
    width: 90%;
    color: white;
    margin-bottom: 150px;
}

.aboutme{
    font-size: 18px;
    color: white;
    font-weight: 100;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
}

@media screen and (max-screen:600px){
    p{
        color: white;
        font-size: 18px;
    }
    .aboutme{
        color: white;
    }
}
/* END ABOUT ME */

